SQLite i can easly do in my colab that why i cooshe it. It is a lightweight and serverless database engine, making it easy to set up and use for small-scale applications. The chosen structure for the 'users' table includes an 'id' (primary key) for unique identification, 'name' to store the user's name, and 'age' to store the user's age. This structure is a simple and common setup for storing user-related information.

In [1]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('sample_db.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a table named 'users'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [2]:
def add_user(name, age):
    conn = sqlite3.connect('sample_db.db')
    cursor = conn.cursor()

    # Insert a new user into the 'users' table
    cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', (name, age))

    conn.commit()
    conn.close()

def get_users():
    conn = sqlite3.connect('sample_db.db')
    cursor = conn.cursor()

    # Retrieve all users from the 'users' table
    cursor.execute('SELECT * FROM users')
    users = cursor.fetchall()

    conn.close()

    return users

def update_user(user_id, new_age):
    conn = sqlite3.connect('sample_db.db')
    cursor = conn.cursor()

    # Update the age of a specific user
    cursor.execute('UPDATE users SET age=? WHERE id=?', (new_age, user_id))

    conn.commit()
    conn.close()

def delete_user(user_id):
    conn = sqlite3.connect('sample_db.db')
    cursor = conn.cursor()

    # Delete a user from the 'users' table
    cursor.execute('DELETE FROM users WHERE id=?', (user_id,))

    conn.commit()
    conn.close()

# Example usage:
add_user('Afraz Ul Haque', 25)
add_user('Mirza Sherif', 30)

print("All Users:")
print(get_users())

update_user(1, 26)

print("\nUsers after update:")
print(get_users())

delete_user(2)

print("\nUsers after deletion:")
print(get_users())

All Users:
[(1, 'Afraz Ul Haque', 25), (2, 'Mirza Sherif', 30)]

Users after update:
[(1, 'Afraz Ul Haque', 26), (2, 'Mirza Sherif', 30)]

Users after deletion:
[(1, 'Afraz Ul Haque', 26)]